<!DOCTYPE html>
<html>
<head>
    <title>Accessible Urban Navigation Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="map-container">
        <div id="map"></div>
    </div>

    <!-- Importing Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Map code goes to static/js -->
    <script src="/static/js/map_scripts.js"></script>
</body>
</html>